{{!< default}} <div class="content-area">
    <main class="site-main">

        {{#post}}

        <article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}} single-post">
            {{#if featured}}
            {{#if feature_image}}
            {{#if feature_image_caption}}
            <div style="margin-bottom: 30px; font-size: 25px; text-align:center;" class="gh-canvas">
                <p>{{feature_image_caption}}</p>
            </div>
            {{/if}}
            <figure class="kg-card kg-image-card kg-width-full">
                <div class="u-placeholder horizontal kg-width-full">
                    <img class="post-image u-object-fit" srcset="{{img_url feature_image size=" xl"}} 1140w, {{img_url
                        feature_image size="xxl" }} 1920w" sizes="(min-width: 960px) 1140px, 92vw"
                        src="{{img_url feature_image size=" xl"}}" alt="{{title}}" loading="lazy">
                </div>
            </figure>
            {{/if}}
            {{else}}
            {{#if feature_image}}
            {{> "post-image"}}
            {{/if}}
            {{/if}}
            <header class="article-header gh-canvas" style="margin-top: 30px;">
                <div class="post-meta">
                    <span class="post-meta-item post-meta-date">
                        <time datetime="{{date format=" YYYY-MM-DD"}}">{{date published_at}}</time>
                    </span>
                </div>
                <h1 class="post-title">{{title}}</h1>
            </header>

            <div class="gh-content gh-canvas">
                {{content}}
                <div class="post-meta">
                    <span class="post-meta-item post-meta-date">
                        {{tags separator=" | "}}
                    </span>
                </div>
            </div>

            {{#if @custom.show_author}}
            {{> "author-box"}}
            {{/if}}

        </article>

        {{#if comments}}
        <section class="gh-comments gh-canvas">
            <h3 class="related-title">Comments ({{comment_count empty="0" singular="" plural=""}})</h3>
            {{comments title="" count=false}}
        </section>
        {{/if}}

        {{#if @custom.show_related_posts}}
        {{> "related"}}
        {{/if}}
        {{/post}}

    </main>
    </div>